body {
    background-color: lightpink;
    margin: 20px;
    padding: 20px; 40px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
