body {
    background-color: lightpink;
    margin: 20px;
    padding: 20px; 40px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
